<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
   <div class="login">
    <!-- left -->
    <div class="login-left">
      <img src="../assets/air-max-90.png" alt="" class="login-thumb">
      <div class="login-intro">
        <h2>welcome to our website</h2>
        <p>Project management</p>
      </div>
    </div>

    <!-- right -->
    <div class="login-right">
      <img src="../assets/air-max-90.png" alt="" class="logo">
      <h2 class="login-title">Đăng nhập bằng tài khoản của bạn</h2>

      <!-- form -->
      <form action="#" class="login-form">
        <div class="form-group">
          <label for="">Nhập email hoặc SĐT (được công ty cấp)</label>
          <input type="text" placeholder="nhập email hoặc SĐT">
        </div>

        <div class="form-group">
          <label for="">Nhập mật khảu</label>
          <input type="password" placeholder="nhập mật khảu">
        </div>

        <div class="form-group">
            <label for="">Nhập mật khảu lần 2</label>
            <input type="password" placeholder="nhập mật khảu">
        </div>

        <!-- submit -->
        <button type="submit" class="form-submit">Sign up</button>
      </form>

      <div class="login-links">
        Already have a account?
        <a href="/pages/login.html">Back to sign in</a>
      </div>
    </div>
   </div>
</body>
</html>